<div class="author-image">
    <div class="author-panel-down">
       <LinkTo @route="author" @model={{ @id }} >
              <button>Learn more...</button>
        </LinkTo>
    </div>
    <img src={{@avatar}}>
</div>
